{% load i18n %}

{% block beforeform%}{% endblock %}

{% block form %}

<form method="POST" action="{% block form_action %}{% endblock %}"
      class="{% block class_form %}{% endblock %}"
      {% block extra_form %}{% endblock %}>

    {% csrf_token %}
    
    {% if form.non_field_errors %}
    <div class="messages">
        <p class="error">
            {% for error in form.non_field_errors %}
              {{ error|safe }}<br/>
            {% endfor %}
        </p>
    </div>
    {% endif %}

    <fieldset>
        <legend>{% block legend %}Formulario{% endblock %}</legend>
        <ul>
            {% for field in form %}
            <li class="{{ field.name }}{% if field.errors %} error{% endif %}">
                {% if not field.is_hidden %}{{ field.label_tag }}{% endif %} <br/>
                {{ field }}
                
                {% if field.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                {% endif %}
                
                {% if field.errors %}
                    <p class="help">
                    {% for error in field.errors %}
                        {{ error }}<br />
                    {% endfor %}
                    </p>
                {% endif %}
            </li>
            {% endfor %}
            
            {% block afterfields %}
                <button>{% block button %}{% trans 'Guardar' %}{% endblock %}</button>
            {% endblock %}

        </ul>
    </fieldset>


</form>
{% endblock %}

{% block afterform %}{% endblock %}
